
<mat-card class="card">
    <mat-card-header color="primary">
      <mat-card-title>Autor</mat-card-title>
      <mat-card-subtitle>Informacije o autoru</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Autor aplikacije je Milica Gašić, student na Fakultetu tehničkih nauka
           na smeru Inženjerstvo informacionih sistema.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/home']">Početna stranica</button>
    </mat-card-actions>
  </mat-card>
     