
<mat-card class="card">
    <mat-card-header color="primary">
      <mat-card-title>O nama</mat-card-title>
      <mat-card-subtitle>Dodatne informacije</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> Ovo je aplikacija za predmet "Razvoj višeslojnih aplikacija"</p>
      <hr>
      <p>Profesor: Đorđe Pržulj<br>
         Asistent: Jelena Petrovački<br>
         Fakultet tehničkih nauka, inženjerstvo informacionih sistema 2021. godina</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/home']">Početna stranica</button>
    </mat-card-actions>
  </mat-card>
    